<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th *ngFor="let item of headingsList">{{item}}</th>
                    </thead>
                    <tbody>

                        <td *ngFor="let item of tableData;let i=index">
                            <tr *ngIf="item.value?.length==1">

                                {{item.value}}


                            </tr>
                            <ng-container *ngIf="item.value?.length>1">
                                <tr *ngFor="let item2 of item.value">
                                    <td>{{item2}}</td>
                                </tr>

                            </ng-container>


                        </td>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>